<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos - Mi Primera Web</title>
    </head>
<body>

<nav>
    <a href="../index.html">Inicio</a>
    <a href="productos.html">Productos</a>
    <a href="contacto.html">Contacto</a>
    <a href="presupuesto.html">Presupuesto</a>
</nav>
    <header>
        <h1>Página de productos</h1>
    </header>

    <main>
        <p>Aquí irá la cuadrícula de imágenes pronto.</p>
    </main>

    <footer>
        <p>Aviso Legal - Redes Sociales</p>
    </footer>

</body>
</html>