<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos - Mi Primera Web</title>
<link rel="stylesheet" href="../css/styles.css">    
</head>
<footer>
    <hr> <div class="footer-content">
        <p><strong>Camisetas Retro S.L.</strong></p>
        <p>Calle del Fútbol Vintage, 10, Madrid</p>
        
        <div class="redes">
            <a href="https://facebook.com">Facebook</a> | 
            <a href="https://instagram.com">Instagram</a> | 
            <a href="https://twitter.com">Twitter</a>
        </div>
        
        <p><a href="#">Aviso Legal</a> | <a href="#">Política de Privacidad</a></p>
    </div>
</footer>
<body>

<nav>
    <a href="../index.html">Inicio</a>
    <a href="productos.html">Productos</a>
    <a href="contacto.html">Contacto</a>
    <a href="presupuesto.html">Presupuesto</a>
</nav>
    <header>
        <h1>Página de productos</h1>
    </header>

 

    <h2>Joyas de Coleccionista</h2>
    
    <div class="contenedor-galeria">
        <article class="producto">
            <img src="../img/alemania90.jpg" alt="Camiseta Alemania 1990">
            <h3>Alemania 1990</h3>
            <p>El diseño geométrico más icónico de la historia de los mundiales.</p>
            <p><strong>65€</strong></p>
        </article>

        <article class="producto">
            <img src="../img/napoles87.jpg" alt="Camiseta Napoles 1987">
            <h3>Napoles '87 (Maradona)</h3>
            <p>El clásico color celeste con el patrocinio retro de Buitoni.</p>
            <p><strong>59€</strong></p>
        </article>

        <article class="producto">
            <img src="../img/brasil98.jpg" alt="Camiseta Holanda 1988">
            <h3>Brasil 1998</h3>
            <p>La clásica de Ronaldo Nazario. De las mas deseadas.</p>
            <p><strong>70€</strong></p>
        </article>
    </div>
</main>
</main> <footer>
        <p>Aviso Legal - Redes Sociales</p>
    </footer>

</body>
</html>